<!-- Linguaggi e Tecnologie per il Web - Progetto
	 Excelsior - Partial view
	 Matteo Giaccone, Paolo Lucchesi
  -->

<section id="hotel" class="parallax">
  <span class="anchor-parallax" id="excelsior-panel"></span>
  <h2 class="titolo-principale">Excelsior</h2>
  <h3 class="sottotitolo">Al centro delle Dolomiti, lontano dagli altri hotel</h3>
  <a href="#contatti-panel" class="button scroll-animate">Prenota Subito</a>
  <p class="arrow"><i class="fa fa-angle-down"></i></p>

</section>

<div class="spacer"></div>

<section id="lista-step" class="container">
  <div class="row">
	<div class="col-md-8 col-md-offset-2">
	  <h3 class="text-center">EXCELSIOR</h3>
	</div>
	<div class="col-md-8 col-md-offset-2">
	  <div class="step">
		<p><strong>100</strong> Camere Singole</p>
	  </div>
	</div>
	<div class="col-md-8 col-md-offset-2">
	  <div class="step">
		<p><strong>180</strong> Camere Doppie / Familiari - Per chi non rinuncia alla vacanza di coppia o in famiglia</p>
	  </div>
	</div>
	<div class="col-md-8 col-md-offset-2">
	  <div class="step">
		<p><strong>12</strong> Suite - Per il miglior lusso possibile</p>
	  </div>
	</div>
	<div class="col-md-8 col-md-offset-2">
	  <div class="step">
		<p><strong>5</strong> Ristoranti</p>
	  </div>
	</div>
	<div class="col-md-8 col-md-offset-2">
	  <div class="step">
		<p>Osservatorio Astronomico e Spa Under the Sky</p>
	  </div>
	</div>
	<div class="col-md-8 col-md-offset-2">
	  <div class="step">
		<p><strong>Disponibilità LIMITATA</strong></p>
	  </div>
	</div>
  </div>
</section>

<div class="spacer"></div>

<section id="location">
  <span class="anchor-parallax" id="location-panel"></span>
  <div class="row no-margin bg-row">
	<div class="col-md-6 no-margin">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d44991.47641022681!2d9.120789829098758!3d45.18775867282749!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4787264c75fa0049%3A0xf5b5b4bcb3cf828e!2sPavia+PV!5e0!3m2!1sit!2sit!4v1458232387894" width="600" height="450" frameborder="0" style="border:0; width:100%" allowfullscreen></iframe>
	</div>
	<div class="col-md-6 no-margin">
	  <div class="contenuto-location">
		<h3 class="titolo-principale">La location</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. </p>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. </p>
		<p>Via Mario Rossi, Cortina D'Ampezzo 27100, <br/>
		excelsior@sudtirolhotelgroup.com<br/>
		+39 333 33 33 333</p>
	  </div>

	</div>
  </div>
</section>

<section id="iscriviti">
  <span class="anchor-parallax" id="iscriviti-panel"></span>
  <h3 class="titolo-principale text-center"> Guarda la Gallery</h3>

  <form action="">
    <a class="button" data-toggle="modal" data-target="#myModal">Open</a>
  </form>

  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

<!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <a  class="button close" data-dismiss="modal">&times;</a>
          <h4 class="modal-title">La Baita - Gallery</h4>
        </div>

  <div class="modal-body">
    <!--CAROUSEL -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="hotel_images/baita/baita_1.jpg" alt="Baita_1" style="width: 850px; height:400px;">
        </div>

        <div class="item">
          <img src="hotel_images/baita/baita_2.jpeg" alt="Baita_2" style="width: 850px; height:400px;">
        </div>

        <div class="item">
          <img src="hotel_images/baita/baita_3.jpg" alt="Baita_3" style="width: 850px; height:400px;">
        </div>
      </div>
    </div>
  </div>

</div>

</div>
</div>


</section>

<hr>
