<!-- Linguaggi e Tecnologie per il Web - Progetto
	 Homepage - Partial view
	 Matteo Giaccone, Paolo Lucchesi
  -->

<section id="cover" class="parallax">
 <p class="data">Home</p>
 <h1 class="titolo-principale">SudTirol Hotel Group</h1>
 <h2 class="sottotitolo">Il meglio del relax immersi nel meglio del Trentino</h2>
 <a href="#contatti-panel" class="button scroll-animate">Contattaci</a>
 <p class="arrow"><i class="fa fa-angle-down"></i></p>
</section>

<div class="spacer"></div>

<section id="focus" class="container">
  <span class="anchor-parallax" id="focus-panel"></span>
  <div class="row">
	<div class="col-sm-4">
	  <div class="module">
		<h3 class="titolo-secondario">Chi Siamo</h3>
		<div class="trattino"></div>
		<p>
		Dare a te e la tua famiglia il meglio che ci sia, sempre. Dal 1995,
		con le nostre 3 strutture, siamo Leader del settore alberghiero in Italia,
		Austria e Repubblica Ceca. Per noi ciò che conta veramente, è che il
		cliente non sia solo soddisfatto, ma si senta parte della nostra Famiglia
		</p>
	  </div>
	</div>
	<div class="col-sm-4">
	  <div class="module">
		<h3 class="titolo-secondario">Who We Are</h3>
		<div class="trattino"></div>
		<p>
		Give you and your family the best there is, always. Since 1995, with our
		3 facilities, we are leaders of the hotel industry in Italy, Austria and
		the Czech Republic. For us what really matters is that the customer is
		not only satisfied, but feels part of our family
		</p>
	  </div>
	</div>
	<div class="col-sm-4">
	  <div class="module">
		<h3 class="titolo-secondario">Wer Wir Sind</h3>
		<div class="trattino"></div>
		<p>
		Gib dir und deiner Familie immer das Beste, was es gibt. Seit 1995 sind
		wir mit unseren 3 Einrichtungen in Italien, Österreich und der Tschechischen
		Republik führend in der Hotellerie, und für uns zählt, dass der Kunde nicht
		nur zufrieden ist, sondern sich als Teil unserer Familie fühlt
		</p>
	  </div>
	</div>
  </div>
</section>
