<!-- Linguaggi e Tecnologie per il Web - Progetto
	 Navigation bar - Partial view
	 Matteo Giaccone, Paolo Lucchesi
  -->

<nav class="navbar navbar-inverse navbar-fixed-top animate">
 <div class="container">
   <div class="navbar-header">
	 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	   <span class="sr-only">Toggle navigation</span>
	   <span class="icon-bar"></span>
	   <span class="icon-bar"></span>
	   <span class="icon-bar"></span>
	 </button>
	 <a class="navbar-brand" href="#"><img class="img-logo" src="/assets/images/SHG-logo.png" alt=""></a>
   </div>
   <div id="navbar" class="collapse navbar-collapse">
	 <ul class="nav navbar-nav navbar-right">
	   <li class="active"><a href="#cover">Home</a></li>
	   <li><a href="#baita-panel">La Baita</a></li>
	   <li><a href="#chalet-panel">Lo Chalet</a></li>
	   <li><a href="#excelsior-panel">Excelsior</a></li>
		<li><a href="#contatti-panel">Contatti</a></li>
	 </ul>
   </div>
 </div>
</nav>

